<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [2]:
billion_df = pd.read_csv("billionaires_dataset.csv")
billion_df.head()

,company.founded,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,1975,40,male,United States,North America,Technology-Computer,not inherited
1,1975,45,male,United States,North America,Technology-Computer,not inherited
2,1975,58,male,United States,North America,Technology-Computer,not inherited
3,1962,65,male,United States,North America,Consumer,not inherited
4,1962,70,male,United States,North America,Consumer,not inherited

In [3]:
billion_df.drop('company.founded', axis = 1, inplace = True)

In [4]:
billion_df.head(5)

,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,40,male,United States,North America,Technology-Computer,not inherited
1,45,male,United States,North America,Technology-Computer,not inherited
2,58,male,United States,North America,Technology-Computer,not inherited
3,65,male,United States,North America,Consumer,not inherited
4,70,male,United States,North America,Consumer,not inherited

In [5]:
billion_df.nunique()

demographics.age        76
demographics.gender      3
location.citizenship    73
location.region          8
wealth.how.industry     19
wealth.how.inherited     6
dtype: int64

In [10]:
billion_df['location.citizenship'].value_counts()

#good place for binning or bucketing
# actually leave all in, even 1 values

United States    903
Germany          160
China            153
Russia           119
Japan             96
                ...
Bahrain            1
Ecuador            1
Georgia            1
Bermuda            1
Tanzania           1
Name: location.citizenship, Length: 73, dtype: int64

In [12]:
billion_df['location.region'].value_counts()
#remove null value here

North America               992
Europe                      698
East Asia                   535
Latin America               182
Middle East/North Africa    117
South Asia                   69
Sub-Saharan Africa           20
0                             1
Name: location.region, dtype: int64

In [27]:
billion_df['wealth.how.industry'].value_counts()

#needs cleaning, combining
#consider a spiral chart

Consumer                           471
Retail, Restaurant                 281
Real Estate                        280
Money Management                   249
Media                              219
Technology-Computer                208
Diversified financial              167
Energy                             132
Technology-Medical                 111
Non-consumer industrial            107
Constrution                         97
Mining and metals                   90
Other                               83
Hedge funds                         67
Private equity/leveraged buyout     25
0                                   16
Venture Capital                      8
banking                              1
services                             1
Name: wealth.how.industry, dtype: int64

In [14]:
billion_df['wealth.how.inherited'].value_counts()
#combine all columns that aren't "not inherited"

not inherited               1688
father                       558
3rd generation               210
4th generation                68
spouse/widow                  59
5th generation or longer      31
Name: wealth.how.inherited, dtype: int64

In [15]:
billion_df['demographics.gender'].value_counts()
#remove married couple

male              2328
female             249
married couple       3
Name: demographics.gender, dtype: int64

In [17]:
billion_df.duplicated().value_counts()

False    2136
True      478
dtype: int64

In [7]:
clean_gender = billion_df['demographics.gender']

In [8]:
clean_gender

0       male
1       male
2       male
3       male
4       male
        ...
2609    male
2610    male
2611    male
2612    male
2613    male
Name: demographics.gender, Length: 2614, dtype: object

In [9]:
if clean_gender == 'married couple':
  (clean_gender['male'] + 1) + (clean_gender['female' + 1])

ValueError: ignored

In [ ]:
billion_df = billion_df[billion_df.demographics.gender !='married couple']
# Ref: https://www.statology.org/pandas-drop-rows-with-value/

In [ ]:
#Rename columns with simpler titles
# Then get back to this dataframe error.

In [26]:
billionaires_df = pd.read_csv("billionaires.csv")
billionaires_df.head(10)

,name,rank,year,company.founded,company.name,company.relationship,company.sector,company.type,demographics.age,demographics.gender,...,location.gdp,location.region,wealth.type,wealth.worth in billions,wealth.how.category,wealth.how.from emerging,wealth.how.industry,wealth.how.inherited,wealth.how.was founder,wealth.how.was political
0,Bill Gates,1,1996,1975,Microsoft,founder,Software,new,40,male,...,8.100000e+12,North America,founder non-finance,18.5,New Sectors,True,Technology-Computer,not inherited,True,True
1,Bill Gates,1,2001,1975,Microsoft,founder,Software,new,45,male,...,1.060000e+13,North America,founder non-finance,58.7,New Sectors,True,Technology-Computer,not inherited,True,True
2,Bill Gates,1,2014,1975,Microsoft,founder,Software,new,58,male,...,0.000000e+00,North America,founder non-finance,76.0,New Sectors,True,Technology-Computer,not inherited,True,True
3,Warren Buffett,2,1996,1962,Berkshire Hathaway,founder,Finance,new,65,male,...,8.100000e+12,North America,founder non-finance,15.0,Traded Sectors,True,Consumer,not inherited,True,True
4,Warren Buffett,2,2001,1962,Berkshire Hathaway,founder,Finance,new,70,male,...,1.060000e+13,North America,founder non-finance,32.3,Traded Sectors,True,Consumer,not inherited,True,True
5,Carlos Slim Helu,2,2014,1990,Telmex,founder,Communications,privatization,74,male,...,0.000000e+00,Latin America,privatized and resources,72.0,Non-Traded Sectors,True,Media,not inherited,True,True
6,Oeri Hoffman and Sacher,3,1996,1896,F. Hoffmann-La Roche,NaN,pharmaceuticals,new,0,NaN,...,3.300000e+11,Europe,inherited,13.1,New Sectors,True,Technology-Medical,3rd generation,True,True
7,Paul Allen,3,2001,1975,Microsoft,founder,technology,new,48,male,...,1.060000e+13,North America,founder non-finance,30.4,New Sectors,True,Technology-Computer,not inherited,True,True
8,Amancio Ortega,3,2014,1975,Zara,founder,Fashion,new,77,male,...,0.000000e+00,Europe,founder non-finance,64.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
9,Lee Shau Kee,4,1996,1976,Henderson Land Development,founder/chairman,real estate,new,68,male,...,1.600000e+11,East Asia,self-made finance,12.7,Financial,True,Real Estate,not inherited,True,True

In [25]:
multi_bills = billionaires_df.duplicated(subset='name')
multi_bills.value_counts()

False    2077
True      537
dtype: int64