<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [45]:
billion_df = pd.read_csv("billionaires_dataset.csv")
billion_df.head()

,company.founded,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,1975,40,male,United States,North America,Technology-Computer,not inherited
1,1975,45,male,United States,North America,Technology-Computer,not inherited
2,1975,58,male,United States,North America,Technology-Computer,not inherited
3,1962,65,male,United States,North America,Consumer,not inherited
4,1962,70,male,United States,North America,Consumer,not inherited

In [46]:
billion_df.drop('company.founded', axis = 1, inplace = True)

In [47]:
billion_df.head(5)

,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,40,male,United States,North America,Technology-Computer,not inherited
1,45,male,United States,North America,Technology-Computer,not inherited
2,58,male,United States,North America,Technology-Computer,not inherited
3,65,male,United States,North America,Consumer,not inherited
4,70,male,United States,North America,Consumer,not inherited

In [48]:
zero = billion_df.loc[billion_df['location.region'] == 0]
zero

Empty DataFrame
Columns: [demographics.age, demographics.gender, location.citizenship, location.region, wealth.how.industry, wealth.how.inherited]
Index: []

In [49]:
billion_df.nunique()

demographics.age        76
demographics.gender      3
location.citizenship    73
location.region          7
wealth.how.industry     19
wealth.how.inherited     6
dtype: int64

In [50]:
billion_df['location.citizenship'].value_counts()

#good place for binning or bucketing
# actually leave all in, even 1 values

United States    903
Germany          160
China            153
Russia           119
Japan             96
                ...
Bahrain            1
Ecuador            1
Georgia            1
Bermuda            1
Tanzania           1
Name: location.citizenship, Length: 73, dtype: int64

In [51]:
billion_df['location.region'].value_counts()
#remove null value here
#Ben

North America               993
Europe                      698
East Asia                   535
Latin America               182
Middle East/North Africa    117
South Asia                   69
Sub-Saharan Africa           20
Name: location.region, dtype: int64

In [52]:
billion_df['wealth.how.industry'].value_counts()

#needs cleaning, combining
#consider a spiral chart
#ANDREW will combine several of these columns with the help of his tutor on Tuesday

Consumer                           471
Retail, Restaurant                 281
Real Estate                        280
Money Management                   249
Media                              219
Technology-Computer                208
Diversified financial              167
Energy                             132
Technology-Medical                 111
Non-consumer industrial            107
Constrution                         97
Mining and metals                   90
Other                               83
Hedge funds                         67
Private equity/leveraged buyout     25
0                                   16
Venture Capital                      8
banking                              1
services                             1
Name: wealth.how.industry, dtype: int64

In [53]:
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Money Management': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Diversified financial': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Hedge funds': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'banking': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Venture Capital': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Private equity/leveraged buyout': 'Financial'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Technology-Computer': 'Technology'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Technology-Medical': 'Technology'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Constrution': 'Construction'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Non-consumer industrial': 'Construction'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'Mining and metals': 'Construction'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'0': 'Other'})
billion_df['wealth.how.industry'] = billion_df["wealth.how.industry"].replace({'services': 'Consumer'})
billion_df['wealth.how.industry'].value_counts()

Financial             517
Consumer              472
Technology            319
Construction          294
Retail, Restaurant    281
Real Estate           280
Media                 219
Energy                132
Other                  99
Name: wealth.how.industry, dtype: int64

In [54]:
billion_df['wealth.how.inherited'].value_counts()
#combine all columns that aren't "not inherited". Combine all non-"non inherited" columns.
#Sarah will do this

not inherited               1688
father                       558
3rd generation               210
4th generation                68
spouse/widow                  59
5th generation or longer      31
Name: wealth.how.inherited, dtype: int64

In [55]:
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'5th generation or longer': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'spouse/widow': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'father': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'4th generation': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'3rd generation': 'inherited'})
billion_df['wealth.how.inherited'].value_counts()

not inherited    1688
inherited         926
Name: wealth.how.inherited, dtype: int64

In [56]:
billion_df['demographics.gender'].value_counts()
#remove married couple 
#Ben. Remove these "married couple" rows from the datafram

male              2328
female             249
married couple       3
Name: demographics.gender, dtype: int64

In [62]:
billion_df.to_csv('billionaires_clean.csv')

In [57]:
billion_df.duplicated().value_counts()

False    1983
True      631
dtype: int64

In [61]:
billion_df

,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,40,male,United States,North America,Technology,not inherited
1,45,male,United States,North America,Technology,not inherited
2,58,male,United States,North America,Technology,not inherited
3,65,male,United States,North America,Consumer,not inherited
4,70,male,United States,North America,Consumer,not inherited
...,...,...,...,...,...,...
2609,55,male,Taiwan,East Asia,Construction,not inherited
2610,0,male,China,East Asia,Consumer,not inherited
2611,53,male,China,East Asia,Real Estate,not inherited
2612,53,male,Czech Republic,Europe,Construction,not inherited
2613,48,male,China,East Asia,Technology,not inherited

In [58]:
clean_gender = billion_df['demographics.gender']

In [59]:
clean_gender

0       male
1       male
2       male
3       male
4       male
        ...
2609    male
2610    male
2611    male
2612    male
2613    male
Name: demographics.gender, Length: 2614, dtype: object

In [60]:
if clean_gender == 'married couple':
  (clean_gender['male'] + 1) + (clean_gender['female' + 1])

ValueError: ignored

In [ ]:
billion_df = billion_df[billion_df.demographics.gender !='married couple']
# Ref: https://www.statology.org/pandas-drop-rows-with-value/

In [ ]:
#Rename columns with simpler titles
# Then get back to this dataframe error.

In [ ]:
billionaires_df = pd.read_csv("billionaires.csv")
billionaires_df.head(10)

In [ ]:
multi_bills = billionaires_df.duplicated(subset='name')
multi_bills.value_counts()