<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [13]:
countries_df = pd.read_csv("../resources/LatLngCountriesBillionaires.csv")
countries_df.head(50)

     latitude   longitude         country       country.1  numBils  bilsPerMil
0   28.033886    1.659626         Algeria         Algeria        1       0.022
1         NaN         NaN             NaN          Angola        1       0.031
2         NaN         NaN             NaN       Argentina        4       0.087
3         NaN         NaN             NaN       Australia       44       1.203
4         NaN         NaN             NaN         Austria        9       1.007
5         NaN         NaN             NaN         Belgium        1       0.087
6         NaN         NaN             NaN          Brazil       65       0.211
7         NaN         NaN             NaN          Canada       64       1.147
8         NaN         NaN             NaN           Chile        7       0.356
9         NaN         NaN             NaN           China      698       0.276
10        NaN         NaN             NaN        Colombia        3       0.059
11        NaN         NaN             NaN          Cyprus        3       3.378
12  49.817492   15.472962  Czech Republic  Czech Republic        8       0.747
13  56.263920    9.501785         Denmark         Denmark        8       1.370
14  26.820553   30.802498           Egypt           Egypt        6       0.059
15        NaN         NaN             NaN        Eswatini        1       0.915
16  61.924110   25.748151         Finland         Finland        6       1.090
17  46.227638    2.213749          France          France       42       0.579
18  42.315407   43.356892         Georgia         Georgia        1       0.269
19  51.165691   10.451526         Germany         Germany      136       1.553
20  39.074208   21.824312          Greece          Greece        3       0.280
21  22.396428  114.109497       Hong Kong       Hong Kong       71       8.830
22  47.162494   19.503304         Hungary         Hungary        1       0.103
23  64.963051  -19.020835         Iceland         Iceland        1       2.713
24  20.593684   78.962880           India           India      237       0.171
25  -0.789275  113.921327       Indonesia       Indonesia       15       0.056
26  53.412910   -8.243890         Ireland         Ireland        9       1.808
27  31.046051   34.851612          Israel          Israel       17       1.824
28  41.871940   12.567380           Italy           Italy       51       0.607
29  36.204824  138.252924           Japan           Japan       49       0.207
30  48.019573   66.923684      Kazakhstan      Kazakhstan        4       0.212
31  29.311660   47.481766          Kuwait          Kuwait        1       0.224
32  33.854721   35.862285         Lebanon         Lebanon        6       0.886
33  47.166000    9.555373   Liechtenstein   Liechtenstein        1      25.710
34  22.198745  113.543873           Macau           Macau        1       1.464
35   4.210484  101.975766        Malaysia        Malaysia       12       0.366
36  23.634501 -102.552784          Mexico          Mexico       12       0.095
37  43.750298    7.412841          Monaco          Monaco        3      78.740
38  31.791702   -7.092620         Morocco         Morocco        1       0.028
39  28.394857   84.124008           Nepal           Nepal        1       0.033
40  52.132633    5.291266     Netherlands     Netherlands       11       0.626
41 -40.900557  174.885971     New Zealand     New Zealand        2       0.391
42   9.081999    8.675277         Nigeria         Nigeria        3       0.014
43  60.472024    8.468946          Norway          Norway       12       2.226
44  21.512583   55.923255            Oman            Oman        1       0.223
45  -9.189967  -75.015152            Peru            Peru        2       0.061
46  12.879721  121.774017     Philippines     Philippines       15       0.136
47  51.919438   19.145136          Poland          Poland        6       0.157
48  39.399872   -8.224454        Portugal        Portugal        1       0.097
49  25.354826   51.183884           Qatar           Qatar        1       0.368