<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [2]:
billion_df = pd.read_csv("resources/billionaires_dataset.csv")
billion_df.head()

,company.founded,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,1975,40,male,United States,North America,Technology-Computer,not inherited
1,1975,45,male,United States,North America,Technology-Computer,not inherited
2,1975,58,male,United States,North America,Technology-Computer,not inherited
3,1962,65,male,United States,North America,Consumer,not inherited
4,1962,70,male,United States,North America,Consumer,not inherited

In [3]:
billion_df.drop('company.founded', axis = 1, inplace = True)

In [4]:
billion_df.head(5)

,demographics.age,demographics.gender,location.citizenship,location.region,wealth.how.industry,wealth.how.inherited
0,40,male,United States,North America,Technology-Computer,not inherited
1,45,male,United States,North America,Technology-Computer,not inherited
2,58,male,United States,North America,Technology-Computer,not inherited
3,65,male,United States,North America,Consumer,not inherited
4,70,male,United States,North America,Consumer,not inherited

In [5]:
billion_df.nunique()

demographics.age        76
demographics.gender      3
location.citizenship    73
location.region          8
wealth.how.industry     19
wealth.how.inherited     6
dtype: int64

In [6]:
billion_df['location.citizenship'].value_counts()

United States    903
Germany          160
China            153
Russia           119
Japan             96
                ...
Bahrain            1
Ecuador            1
Georgia            1
Bermuda            1
Tanzania           1
Name: location.citizenship, Length: 73, dtype: int64

In [7]:
billion_df['location.region'].value_counts()

North America               992
Europe                      698
East Asia                   535
Latin America               182
Middle East/North Africa    117
South Asia                   69
Sub-Saharan Africa           20
0                             1
Name: location.region, dtype: int64

In [8]:
billion_df['wealth.how.industry'].value_counts()

Consumer                           471
Retail, Restaurant                 281
Real Estate                        280
Money Management                   249
Media                              219
Technology-Computer                208
Diversified financial              167
Energy                             132
Technology-Medical                 111
Non-consumer industrial            107
Constrution                         97
Mining and metals                   90
Other                               83
Hedge funds                         67
Private equity/leveraged buyout     25
0                                   16
Venture Capital                      8
banking                              1
services                             1
Name: wealth.how.industry, dtype: int64

In [9]:
billion_df['wealth.how.inherited'].value_counts()
#combine all non inherited columns. Billionaires vs Billion-Heirs

not inherited               1688
father                       558
3rd generation               210
4th generation                68
spouse/widow                  59
5th generation or longer      31
Name: wealth.how.inherited, dtype: int64

In [25]:
billion_df['wealth.how.inherited'].describe()

count              2614
unique                2
top       not inherited
freq               1688
Name: wealth.how.inherited, dtype: object

In [26]:
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'5th generation or longer': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'spouse/widow': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'4th generation': 'inherited'})
billion_df['wealth.how.inherited'] = billion_df["wealth.how.inherited"].replace({'3rd generation': 'inherited'})

In [27]:
billion_df['wealth.how.inherited'].value_counts()

not inherited    1688
Inherited         926
Name: wealth.how.inherited, dtype: int64

In [32]:
billion_df['demographics.gender'].value_counts()
billion_df['demographics.gender'] = billion_df['demographics.gender'].replace({'3rd generation': 'inherited'})

KeyError: "['married couple'] not found in axis"

In [12]:
clean_gender = billion_df['demographics.gender']

In [13]:
clean_gender

0       male
1       male
2       male
3       male
4       male
        ...
2609    male
2610    male
2611    male
2612    male
2613    male
Name: demographics.gender, Length: 2614, dtype: object

In [14]:
if clean_gender == 'married couple':
  (clean_gender['male'] + 1) + (clean_gender['female' + 1])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
billion_df = billion_df[billion_df.demographics.gender !='married couple']
# Ref: https://www.statology.org/pandas-drop-rows-with-value/

In [ ]:
#Rename columns with simpler titles
# Then get back to this dataframe error.