<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [2]:
countries_df = pd.read_csv("resources/billionairesBYcountry.csv")
countries_df.head()

         country  numBils  bilsPerMil
0  United States      724       1.853
1          China      698       0.276
2          India      237       0.171
3        Germany      136       1.553
4         Russia      117       0.677

In [3]:
countries_df.nunique()

country       71
numBils       32
bilsPerMil    68
dtype: int64

In [4]:
countries_df['country'].value_counts()

United States    1
Greece           1
Romania          1
Slovakia         1
New Zealand      1
                ..
Indonesia        1
Philippines      1
Israel           1
Turkey           1
Tanzania         1
Name: country, Length: 71, dtype: int64

In [5]:
countries_df['numBils'].value_counts()

1      18
2       5
3       5
4       5
6       5
12      3
8       2
9       2
15      2
27      2
698     1
7       1
11      1
17      1
30      1
31      1
724     1
41      1
42      1
43      1
44      1
47      1
49      1
51      1
56      1
64      1
65      1
71      1
117     1
136     1
237     1
40      1
Name: numBils, dtype: int64

In [6]:
countries_df['bilsPerMil'].value_counts()

0.059    2
0.087    2
0.366    2
1.853    1
3.378    1
        ..
1.007    1
1.370    1
0.747    1
0.356    1
0.017    1
Name: bilsPerMil, Length: 68, dtype: int64